/* customStyles.css */
.slick-slide {
    padding: 0 0px; /* Adjust the padding to reduce the gap */
  }
  
  .slick-list {
    margin: 0 0px; /* Adjust the margin to counteract the padding */
  }
  
  .slick-slide-custom {
    padding: 0 0px; /* Additional custom padding if needed */
  }
  
